html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

.calendar {
    display: flex;
    
    flex-direction: column;
    align-items: stretch;

    min-height: 600px;
    min-width: 800px;
    height: 100%;
}

.calendar * {
    margin: 0;
    padding: 0;
}

.calendar > header {
    text-align: center;
    height: 40px;
    line-height: 40px;

    font-size: 1.2em;
    border-bottom: 1px tomato solid;
    background-color: #F5F5F5;
    margin-bottom: 5px;
}

.calendar > footer {
    display: flex;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px #999 solid;
    height: 30px;
    color: #999;
    background-color: #F5F5F5;
    text-align: center;
    line-height: 30px;
}

.calendar .days-header li {
    flex: 1 0;

    padding-left: 4px;
}

.calendar .days-header {
    display: flex;
    flex-direction: row;

    list-style: none;
    color: #999;
    padding-left: 8px;
}

.calendar .weeks {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.calendar .week {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

.calendar .day {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1 0; 

    position: relative;

    padding-right: 8px;
    padding-left: 0px;
}

.calendar .day.weekend {
    background: #EEE;
}

.calendar .day:last-child {
    padding-right: 0;
    margin-right: 8px;
}

.calendar .day.today .day-header {
    color: tomato;
}

.calendar .day.past {
    background: #EEE;
    opacity: 0.5;
}
.calendar .day-header-wrapper {
    position: absolute;
    top: 0;
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
    box-sizing: border-box;
}
.calendar .day-header {
    border-top: gray 1px solid;
    padding-top: 4px;
}

.calendar .day-content {
    text-align: center;
}

.calendar .day-content.emoji {
    font-size: 2em;
}